@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="text-center">

        <h1 class="display-4 mb-3">SamiSpot 🤍</h1>

        <p style="font-size: 18px;">
            click below to explore shelters across israel
        </p>

        <a href="/Map/Index" class="btn btn-dark mt-3 px-4 py-2" style="border-radius: 20px;">
            open map
        </a>

        <div class="mt-4" style="font-size: 14px; color: gray;">
            <p>
                hey rayan hahaha  🤍
                i started the shelters feature and got the map working
                feel free to continue and make it even better ✨
            </p>
        </div>

    </div>
</div>