<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/604fb2d9-1b55-493c-adfe-139d084d09d1/resourceGroups/bs-pm-2026-team15/providers/Microsoft.Web/sites/SamiSpot</ResourceId>
    <ResourceGroup>bs-pm-2026-team15</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://samispot-fde9ghhpduhybxcf.westus2-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>fc737a50-b50b-479d-9d82-5bdafcc13ed3</ProjectGuid>
    <PublishUrl>https://samispot-fde9ghhpduhybxcf.scm.westus2-01.azurewebsites.net/</PublishUrl>
    <UserName>$SamiSpot</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>