@model SamiSpot.ViewModels.RegisterViewModel


<div class="auth-container">
    <div class="auth-card">

        <h3 class="auth-title">Sign Up</h3>

        <form asp-action="Register" method="post">

            @if (ViewBag.ReturnUrl != null)
            {
                <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
            }

            <div class="mb-3">
                <label class="form-label">Username</label>
                <input asp-for="UserName" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label">Email</label>
                <input asp-for="Email" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label">Confirm Password</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label">Account Type</label>
                <select asp-for="RoleType" class="form-control">
                    <option value="User">User</option>
                    <option value="Contributor">Contributor</option>
                </select>
            </div>

            <p class="text-muted small">
                Password must be at least 8 characters , include uppercase, lowercase and number.
            </p>

            <button type="submit" class="btn btn-primary auth-btn">Sign Up</button>

        </form>

        <div class="text-center mt-3">
            <a href="/Account/Login">Already have an account ? Login</a>
        </div>
    </div>
</div>